header {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}
.header-wrapper {
  display: flex;
}

.header-title h1 {
  color: var(--main-text);
  font-weight: 600;
}
.header-title p {
  color: #666;
  font-size: 0.9rem;
}
.header-title p span {
  color: red;
  font-size: 1.2rem;
  display: inline-block;
  margin-left: 0.5rem;
}
