.sidebar {
  width: 300px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 1rem 1.2rem;
  transition: left 300ms;
}
.sidebar-container {
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: var(--shadow);
  padding: 1.2rem;
  overflow-y: auto;
}

.brand {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0.5rem;
}
.brand h3 {
  font-size: 3rem;
}

.sidebar-menu {
  margin-top: 5rem;
}

.sidebar-menu li {
  margin-bottom: 1rem;
  cursor: pointer;
  padding: 0.7rem 0.5rem;
  border-radius: 0.3rem;
}

.active {
  background-color: #e5e7eb;
}
