.main-content {
  margin-left: 300px;
  width: calc(100vw - 300px);
  padding: 1rem 2rem 1.2rem 1.2rem;
  transition: margin-left 300ms;
}

.block-grid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 70% auto;
}

.map-container {
  border-radius: 15px;
  box-shadow: var(--shadow);
  padding: 1rem;
  background-color: #fff;
}
